@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/* Mobile first - Form*/
:root {
  --color-one: #e74c18;
  --color-two: #061524;
  --color-tree: #eddfa7;
  --color-four: #1dc4e0;
}

body {
  background-color: var(--color-one);
  overflow-x: hidden;
}
.main-form {
  padding-top: 4vh;
  height: fit-content;
  background-color: var(--color-one);
  margin-bottom: 17vh;
}
.img-form {
  position: relative;
  background-color: var(--color-one);
  width: 100vw;
}
.text-container {
  position: absolute;
  top: 10%;
  width: 100vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.text-img {
  min-width: 80%;
  color: var(--color-tree);
  font-weight: 600;
  padding: 2vw;
  margin: 15% auto;
  text-align: center;
}
.form-container {
  width: 90vw;
  margin: 0 5vw;
  height: fit-content;
  padding: 3vh 3vw;
  background-color: var(--color-two);
  border-radius: 4px;
  z-index: 1; /*Esto esta para superponer el formulario con la imagen */
}
.logo-form {
  width: 80vw;
  margin: 0 10vw;
}
.form {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1vh 1vw;
}

input:not([type="radio"]),
label,
textarea,
button {
  width: 100%;
}
/*Codigo animacion input*/
.box-form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  justify-content: center;
}

input:not([type="radio"]),
textarea {
  background-color: var(--color-tree);
  padding-left: 3vw;
  font-weight: 600;
  color: var(--color-one);
}
textarea {
  margin-bottom: 2vh;
  padding: 1vh 3vw;
}

.box-form label {
  position: absolute;
  z-index: 99;
  color: var(--color-two);
  margin-left: 2vw;
  font-weight: 600;
}

.box-form input:focus + label,
.box-form input:valid + label {
  transform: translate(2px, -27px);
  color: var(--color-tree);
}
label:not([for="file"], [for="minorista"], [for="mayorista"]) {
  transition: all 1s;
}

.btn-submit {
  background-color: var(--color-two);
  border: 2px solid #1dc4e0;
  border-radius: 4px;
  color: #eddfa7;
  font-weight: 600;
  transition: all 0.5s;
}

.btn-submit:hover {
  background-color: var(--color-one);
  border: 2px solid var(--color-tree);
  color: #061524;
  font-weight: 800;
}
input,
textarea {
  outline: none;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--color-four);
  transition: all 0.5s;
}
input[type="radio"] {
  margin-right: 2vw;
}
.radio-btn {
  display: flex;
  margin: 2vh auto;
}
.radio-btn input:checked + label {
  color: var(--color-one);
  font-weight: 600;
}
label {
  color: var(--color-tree);
}
.box-form input:focus,
.box-form input:valid,
textarea:focus,
label:focus {
  border: 1px solid var(--color-two);
  box-shadow: 0 0 5px #1dc4e0; /* Cambia el color del borde interior al recibir foco */
}
.form-group {
  position: relative;
  margin-bottom: 1rem;
}

/*Input file style*/
.input-file {
  display: block;
  background-color: #061524;
  border: 2px solid #e74c18;
  border-radius: 5px;
  color: #e74c18;
  text-align: center;
  font-weight: 400;
  margin: 1vw 0;
  width: 100%;
  padding: 0.5vh 1vw;
  cursor: pointer;
}
.input-file:hover {
  background-color: #133a61;
}
.checked-file {
  display: block;
  background-color: #133a61;
  border: 2px solid #66ff00;
  border-radius: 3px;
  color: #66ff00;
  font-weight: 400;
  margin: 1vw 0;
  width: 100%;
  padding: 0.5vh 1vw;
  cursor: pointer;
}
.checked-file::before {
  content: "";
  overflow-x: hidden;
  display: block;
  height: 1rem;
  width: 1rem;
  float: left;
  text-align: center;
  background-size: 1rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
}
.error-file {
  display: block;
  background-color: #790f00;
  border: 2px solid #ff0000;
  border-radius: 3px;
  color: #ff0000;
  font-weight: 400;
  margin: 1vw 0;
  width: 100%;
  padding: 0.5vh 1vw;
  cursor: pointer;
}
.msj-error {
  display: flex;
  transform: translate(0, -10px);
  color: red;
  font-size: 0.7rem;
  justify-content: end;
  width: 100%;
}
.disable {
  background-color: var(--color-two);
  border: 2px solid #394f53;
  border-radius: 4px;
  color: #394f53;
  font-weight: 600;
  transition: all 0.5s;
}
/* @media screen and (min-width: 768px) and (max-width: 800px) and (min-height: 637) and (max-height: 1024px) {
  .form-container {
    background-color: #66ff00; //no andaaaaaaaaaaaaaaaaa
  }
} */

/*Desktop*/

@media screen and (min-width: 883px) {
  body {
    width: 100vw;
  }
  .input-file {
    overflow-x: hidden;
  }
  .main-form {
    display: flex;
    margin: 0;
    margin-bottom: 17vh;
  }
  .logo-form {
    position: absolute;
    width: 500px;
    margin: 0 10vw 0 10%;
    top: -15px;
  }
  .form-container {
    position: relative;
    z-index: 0;
    max-width: 400px;
    margin-right: 13vw;
  }
  .box-form label {
    margin-left: 0.5vw;
  }
  .img-form {
    position: relative;
  }
  .text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 60vh;
  }
  .text-img {
    position: absolute;
    margin: 0 50% 0 9vw;
    padding-right: 44vw;
    width: fit-content;
  }
  textarea {
    margin-bottom: 1vh;
    padding: 1vh 1vw;
  }
  /*!!!!!!!! ---> espacio entre label e inputRadio, CORREGIR!*/
  input:not([type="radio"]) {
    padding: 0.5vh 1vw;
  }
  input[type="radio"] {
    margin: 0 1vw;
  }
}
