/* Variables globales */
:root {
  --color-one: #e74c18;
  --color-two: #061524;
  --color-tree: #eddfa7;
  --color-four: #1dc4e0;
  --color-five: #fdf5ef;
  /*fuente*/
  --primary-font: "Montserrat", sans-serif;
}
/* Obtengo la tipografia */
@font-face {
  font-family: "sport";
  src: url("../tipografias/Sportesia.otf") format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  padding-top: 6rem;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100vh;
}
/* Da estilos al header y lo fija para cuando se haga scroll */
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.5rem;
  min-height: 4rem;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: #061524;
  z-index: 100;
}
/*Contenedor de logo y lema */
.logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/*Fijo el ancho del logo y el alto queda libre guardando las relaciones con el ancho.*/
.logo {
  width: 3rem;
}
/* Doy estilos y lo despego un poco del logo */
.lema {
  margin-left: 1rem;
  color: #1dc4e0;
  font-family: "sportesia";
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
/*El nav toma el ancho del conteido que tenga */
.nav-menu {
  width: fit-content;
}
/* Doy estilos al ul y li */
.ul-nav {
  display: flex;
  padding: 0;
  width: fit-content;
}
.li-nav {
  list-style: none;
  margin: 0.5rem;
  align-self: center;
  width: fit-content;
  transition: all 1s;
}
.b-bottom-style:hover {
  border-bottom: 1px solid #e74c18;
}
/*Estilos al link */
a {
  font-size: 1rem;
  color: #1dc4e0;
  text-decoration: none;
}
/* Estilos al boton del carrito */
.carrito {
  width: 2rem;
  height: 2rem;
  background-color: #e74c18;
  border: 3px solid #1dc4e0;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
/* Cambio de estilos al posicionar el raton sobre él */
.carrito:hover {
  background-color: #eddfa7;
  border: 3px solid #e74c18;
}
/*Saco el menu mobile*/
.burger {
  display: none;
}
/*CSS Footer y páginas relacionadas*/
.menu-footer {
  background-color: rgb(86, 56, 223);
  color: wheat;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.menu-footer .ul-footer {
  list-style: none;
}
.li-footer:hover {
  color: rgb(38, 69, 73);
}
.menu-footer .ul-footer .li-footer {
  display: inline-block;
  align-items: space-between;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-right: 30px;
  text-decoration: none;
}
.menu-footer .ul-footer .li-footer:last-child {
  margin-right: 0;
}
.nav-footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.li-footer {
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}
.li-footer:hover {
  color: rgb(38, 69, 73);
}
/*CSS de la pagina de legales*/
.container-legales {
  background-color: var(--color-four);
  margin: 20px;
  padding: 30px;
}
.container-legales li {
  font-weight: bold;
}
h3,
p,
.ul,
li {
  margin-top: 20px;
}

/* Mobile pantalla menores a 696px*/

@media screen and (max-width: 722px) {
  /*Display block ubica los elementos uno abajo del otro*/
  header {
    display: block;
  }
  /* Estilos al boton del carrito */
  .radio-btn {
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;
  }
  /* Cambio de estilos al posicionar el raton sobre él */
  .carrito:hover {
    background-color: #eddfa7;
    border: 3px solid #e74c18;
  }
  /*Saco el menu mobile*/
  .burger {
    display: none;
    width: fit-content;
  }
  /*Esta clase se pone y se saca al apretar en el menu hamburguesa con javascript
    Se aplica al ul que en este estado esta oculto */
  .active {
    display: flex;
    flex-direction: column;
    color: #061524;
    padding: 0;
  }
  /* Doy otros estilos al menu para que abarque el ancho total
  cambio a fixed para que se superponga  */
  #menu {
    width: 100vw;
    background-color: #061524;
    position: fixed;
    left: 0;
  }
  .ul-nav {
    display: none;
    width: fit-content;
  }
  /*Centrado de las opciones dle menu*/
  .li-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
  }
  /*Tamaño*/
  .menu-icon {
    width: 2rem;
  }
  /* Contenedor del icono del menu 
    Lo posiciono arriba a la derecha con postion absolute, top y right */
  .burger {
    display: block;
    position: absolute;
    width: 2rem;
    min-width: 2rem;
    top: 2.5vh;
    right: 2.5vw;
    cursor: pointer;
  }
}